<!--begin::Row-->
<div class="row g-6 g-xl-9">
  <!--begin::Col-->
  <div class="col-lg-6">
    <!--begin::Summary-->
    <div class="card card-flush h-lg-100">
      <!--begin::Card header-->
      <div class="card-header mt-6">
        <!--begin::Card title-->
        <div class="card-title flex-column">
          <h3 class="fw-bold mb-1">Días del Proyecto</h3>
          <div class="fs-6 fw-semibold text-gray-400">2 Días Completados</div>
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
          <button class="btn btn-light btn-sm">Ver Días</button>
        </div>
        <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body p-9 pt-5">
        <!--begin::Wrapper-->
        <div class="d-flex flex-wrap">
          <!--begin::Chart-->
          <div class="position-relative d-flex flex-center h-175px w-175px me-15 mb-7">
            <div class="position-absolute translate-middle start-50 top-50 d-flex flex-column flex-center">
              <span class="fs-2qx fw-bold">6</span>
              <span class="fs-6 fw-semibold text-gray-400">Total Días</span>
            </div>
            <canvas id="project_overview_chart"></canvas>
          </div>
          <!--end::Chart-->
          <!--begin::Labels-->
          <div class="d-flex flex-column justify-content-center flex-row-fluid pe-11 mb-5">
            <!--begin::Label-->
            <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
              <div class="bullet bg-primary me-3"></div>
              <div class="text-gray-400">En Curso</div>
              <div class="ms-auto fw-bold text-gray-700">{{curso}}</div>
            </div>
            <!--end::Label-->
            <!--begin::Label-->
            <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
              <div class="bullet bg-success me-3"></div>
              <div class="text-gray-400">Completados</div>
              <div class="ms-auto fw-bold text-gray-700">{{completadas}}</div>
            </div>
            <!--end::Label-->
            <!--begin::Label-->
            <div class="d-flex fs-6 fw-semibold align-items-center mb-3">
              <div class="bullet bg-danger me-3"></div>
              <div class="text-gray-400">Sin iniciar</div>
              <div class="ms-auto fw-bold text-gray-700">{{dias}}</div>
            </div>
            <!--end::Label-->
            <!--begin::Label-->
            <!--<div class="d-flex fs-6 fw-semibold align-items-center">
              <div class="bullet bg-gray-300 me-3"></div>
              <div class="text-gray-400">Yet to start</div>
              <div class="ms-auto fw-bold text-gray-700">25</div>
            </div>-->
            <!--end::Label-->
          </div>
          <!--end::Labels-->
        </div>
        <!--end::Wrapper-->
        <!--
        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
          <div class="d-flex flex-stack flex-grow-1">
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">
              <a href="#" class="fw-bold me-1">Invite New .NET Collaborators</a>to create great outstanding business to business .jsp modutr class scripts</div>
            </div>
          </div>
        </div>-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Summary-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-lg-6">
    <!--begin::Graph-->
    <div class="card card-flush h-lg-100">
      <!--begin::Card header-->
      <div class="card-header mt-6">
        <!--begin::Card title-->
        <div class="card-title flex-column">
          <h3 class="fw-bold mb-1">Cantidad de Participación</h3>
          
          <!--<div class="fs-6 d-flex text-gray-400 fs-6 fw-semibold">
            <div class="d-flex align-items-center me-6">
            <span class="menu-bullet d-flex align-items-center me-2">
              <span class="bullet bg-success"></span>
            </span>Completados</div>
            
            <div class="d-flex align-items-center">
            <span class="menu-bullet d-flex align-items-center me-2">
              <span class="bullet bg-primary"></span>
            </span>Sin iniciar</div>
          </div>
          -->
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <!--<div class="card-toolbar">
          <select name="status" data-control="select2" data-hide-search="true" class="form-select form-select-solid form-select-sm fw-bold w-150px">
            <option value="1">2024 Enero</option>
            <option value="2">2024 Febrero</option>
            <option value="3">2024 Marzo</option>
            <option value="4">2024 Abril</option>
            <option value="5" selected="selected">2024 Mayo</option>
          </select>
        </div>-->
        <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-10 pb-0 px-5">
        <!--begin::Chart-->
        <!--<div id="kt_project_overview_graph" class="card-rounded-bottom" style="height: 300px"></div>-->
        <!-- begin::Chart-->
  <div #chartRef id="kt_charts_widget_1_chart" [style.height]="'350px'">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
  <!-- end::Chart-->
        <!--end::Chart-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Graph-->
  </div>
  <!--end::Col-->
