<!--begin::Root-->
<!--<div class="d-flex flex-column flex-root" style="background-color: #070d15 !important;height: 100%;">-->
<div class="" style="background-color: #070d15 !important;overflow: auto;height: 100%;">
  
  <!-- Seccion Loader-->  
  <app-loadmask [loader]="isLoading" *ngIf="isLoading"></app-loadmask>
  <!-- Fin Seccion Loader-->
  
  <!-- Seccion Header-->
  <app-header [proyecto_id]="proyecto_id" [rol]="rol" [usuarios_active]="usuarios_active" [titulo]="'Bosquejar'" [paso]="'Paso 1 – Demos Rápidas'" [dia]="'Día 4'" [ms]="ms" [sec]="sec" [min]="min" [hr]="hr" [showTimer]="showTimer" [ms_paso]="ms_paso" [sec_paso]="sec_paso" [min_paso]="min_paso" [hr_paso]="hr_paso" [showTimerPass]="showTimerPass" [tiempo_paso]="tiempo_paso" [dia_paso]="dia_paso"></app-header>
  <!-- Fin Seccion Header-->

  <!-- Titulo -->
  <!--<div class="container title-container">
    <h1>
      Bosquejar - Demos Rápidas
    </h1>
  </div>-->
  <!-- Instrucciones -->
  <!--<div class="container instructions-container">
    <app-entender-demos-accordion></app-entender-demos-accordion>
  </div>-->

  <!-- Tablero -->
  <div class="container tablero-video">
    <video id="videoFondo" class="videoFondo" src="http://res.cloudinary.com/tresideambipi/video/upload/v1659722491/videos/video_test_clgg4o.mp4" autoplay="true" muted="true" loop="true"></video><!--poster="https://carontestudio.com/img/contacto.jpg"-->
  </div>
  
  <!--Footer-->
  <app-footer-lab [dia]="'Dia 4'" [paso]="'Paso 1 – Demos Rápidas'" [proyecto_id]="proyecto_id" [rol]="rol" [video_url]="video_url" (activeNext)="saveNoteAll()" *ngIf="!isLoading"></app-footer-lab>
  <!--Fin Footer-->

  <!--begin::Scrolltop-->
  <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
    <span class="svg-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
        <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
      </svg>
    </span>
    <!--end::Svg Icon-->
  </div>
  <!--end::Scrolltop-->
</div>
<!--end::Root-->
