<!--begin::Root-->
<!--<div class="d-flex flex-column flex-root" style="background-color: #070d15 !important;height: 100%;">-->
  <div class="" style="background-color: #070d15 !important;overflow: hidden;height: 100%;">
    
  <!-- Seccion Loader-->  
  <app-loadmask [loader]="isLoading" *ngIf="isLoading"></app-loadmask>
  <!-- Fin Seccion Loader-->
  
  <!-- Seccion Header-->
  <app-header [proyecto_id]="proyecto_id" [rol]="rol" [usuarios_active]="usuarios_active" [titulo]="'Entender'" [paso]="'Paso 3 – Votación Preguntas del Sprint'" [dia]="'Día 1'" [ms]="ms" [sec]="sec" [min]="min" [hr]="hr" [showTimer]="showTimer" [ms_paso]="ms_paso" [sec_paso]="sec_paso" [min_paso]="min_paso" [hr_paso]="hr_paso" [showTimerPass]="showTimerPass" [tiempo_paso]="tiempo_paso" [dia_paso]="dia_paso"></app-header>
  <!-- Fin Seccion Header-->

    <!-- Titulo -->
    <!--<div class="container title-container">
      <h1>
        Votación Preguntas Sprint
      </h1>
    </div>-->
    <!-- Instrucciones -->
    <!--<div class="container instructions-container">
      <app-preguntas-accordion></app-preguntas-accordion>
    </div>-->
    <!-- Tablero -->
    <div class="container tablero-container">
      <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable #tableroRef>
      <!-- Main -->
        <div class="flex flex-auto p-6 sm:p-10">
          <!--<div cdkDropListGroup>-->
            <ng-container *ngFor="let t of filteredTablero | async; let i = index;">
              <div class="clasificacion-container">
                <h2 style="color: #fff;">{{t.title}}</h2>
                <div class="clasificacion-list"><!--cdkDropList [cdkDropListData]="t.data" (cdkDropListDropped)="drop($event)"-->
                  <div class="clasificacion-box" *ngFor="let item of t.data; let j = index;" cdkDragBoundary=".clasificacion-container"  [cdkDragData]="item" (cdkDragMoved)="onDragMove($event, i, j)" (cdkDragEnded)="onDragEnded($event, i, j)" [cdkDragFreeDragPosition]="dragPosition[j]" cdkDrag><div class="label-voto">{{item.label}}</div>
                    <label class="votos">{{item.votos ? item.votos : 0}}</label>
                    <!--<div class="voto-maximo bg-success position-absolute h-8px w-8px rounded-circle" *ngIf="verifyVotoMaximo(i, j)">
                    </div>-->
                    <!--<mat-icon
                    class="voto-maximo"
                    [matTooltip]="'Voto máximo'" *ngIf="verifyVotoMaximo(i, j)">check_circle</mat-icon>-->
                    <button class="quitar-maximo" (click)="quitar(i, j)" *ngIf="verifyVoto(i, j) && item.votos > 0">Quitar</button>
                    <button class="votar" (click)="votar(i, j)" *ngIf="num_votos < maximo_votos">Votar</button>
                    <!--
                      *ngIf="verifyVoto(i, j)"
                      *ngIf="!verifyVoto(i, j) && !verifyVotoTablero(i)"
                    <button class="votar-maximo" (click)="votarMaximo(i, j)" *ngIf="!verifyVotoMaximo(i, j) && !verifyVotoTablero(i) && rol == 'Decisor'">Voto +</button>
                    <button class="quitar-maximo" (click)="quitarMaximo(i, j)" *ngIf="verifyVotoMaximo(i, j) && rol == 'Decisor'">Quitar</button>-->
                  </div>
                </div>
              </div>
            </ng-container>
          <!--</div>-->
        </div>
      </div>
      <ng-container *ngFor="let eq of equipo; let i = index;">
        <img id="puntero-{{eq}}" src="assets/images/puntero.png" style="position: absolute;width: 30px;height: 30px;display: none;"/>
        <label id="equipo-{{eq}}" style="position: absolute;width: 100px;height: 100px;display: none;color:rgb(3, 165, 136);font-weight: bold;">{{eq}}</label>
      </ng-container>
      <canvas id="canvasId" #canvasRef width="100" height="100"></canvas>
    </div>
    
  <!--Footer-->
  <app-footer-lab [dia]="'Dia 1'" [paso]="'Paso 3 – Votación Preguntas del Sprint'" [proyecto_id]="proyecto_id" [rol]="rol" [video_url]="video_url" (activeNext)="saveVotoAll()" *ngIf="!isLoading"></app-footer-lab>
  <!--Fin Footer-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
  <span class="svg-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
      <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
    </svg>
  </span>
  <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
</div>
<!--end::Root-->
