<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Elige un tipo de cuenta
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Selecciona la cuenta que vaya más de acuerdo a tus intereses."
    ></i>
  </h2>

  <div class="text-gray-400 fw-bold fs-6">
    Selecciona la cuenta que vaya más de acuerdo a tus intereses.
    <!-- <a href="#" class="link-primary fw-bolder"> Help Page </a> -->

  </div>
</div>

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="col-lg-6">
      <input
        formControlName="accountType"
        name="accountType"
        type="radio"
        class="btn-check"
        id="kt_create_account_form_account_type_personal"
        value="usuario"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
          mb-10
        "
        for="kt_create_account_form_account_type_personal"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/communication/com005.svg'"
          class="svg-icon svg-icon-3x me-5"
        ></span>
        <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
            >Usuario</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            Cuenta de usuario normal, con la posibilidad de crear 1 proyecto
          </span>
        </span>
      </label>
    </div>

    <div class="col-lg-6">
      <input
        formControlName="accountType"
        name="accountType"
        type="radio"
        class="btn-check"
        id="kt_create_account_form_account_type_corporate"
        value="incubadora"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
        "
        for="kt_create_account_form_account_type_corporate"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/finance/fin006.svg'"
          class="svg-icon svg-icon-3x me-5"
        ></span>

        <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
            >Incubadora</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            Crea una cuenta de Incubadora para gestionar varios proyectos a la vez
          </span>
        </span>
      </label>
    </div>

    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='accountType' /> -->
    </div>
  </div>
</div>
