<!--begin::Root-->
<!--<div class="d-flex flex-column flex-root" style="background-color: #070d15 !important;height: 100%;">-->
  <div class="" style="overflow: hidden;">

  <!-- Seccion Loader-->  
  <app-loadmask [loader]="isLoading" *ngIf="isLoading"></app-loadmask>
  <!-- Fin Seccion Loader--> 

  <!-- Seccion Header-->
  <app-header [proyecto_id]="proyecto_id" [rol]="rol" [usuarios_active]="usuarios_active" [titulo]="capitalize(etapa)" [paso]="" [dia]="getDay(etapa)" [ms]="ms" [sec]="sec" [min]="min" [hr]="hr" [showTimer]="showTimer"></app-header>
  <!-- Fin Seccion Header-->

    <!--Nuevo diseño-->
    <div class="container-new" *ngIf="etapa == 'principal'">
      <div [ngClass]="fase >= 1 ? 'card' : 'card-inactiva'" style="--clr:#a024ff;">
          <div class="box">
              <div class="icon">
                  <div class="iconBox">
                     Día 1<!--<ion-icon name="analytics-outline"></ion-icon>-->
                  </div>
              </div>
              <div class="content">
                  <h3>Entender</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                  <a (click)="entrar('entender',(fase >= 1))">Entrar</a>
              </div>
              <div class="time">
                <div class="time-text">
                  {{sumarHoras('dia1')}}
                </div>
              </div>
          </div>
      </div>

      <div [ngClass]="fase >= 9 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
          <div class="box">
              <div class="icon">
                  <div class="iconBox">
                    Día 2
                  </div>
              </div>
              <div class="content">
                  <h3>Enfoque solución</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                  <a (click)="entrar('enfoque',(fase >= 9))">Entrar</a>
              </div>
              <div class="time">
                <div class="time-text">
                  {{sumarHoras('dia2')}}
                </div>
              </div>
          </div>
      </div>

      <div [ngClass]="fase >= 23 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
          <div class="box">
              <div class="icon">
                  <div class="iconBox">
                    Día 3
                  </div>
              </div>
              <div class="content">
                  <h3>Modelo de negocios</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                  <a (click)="entrar('modelo',(fase >= 23))">Entrar</a>
              </div>
              <div class="time">
                <div class="time-text">
                  {{sumarHoras('dia3')}}
                </div>
              </div>
          </div>
      </div>
      

      <div [ngClass]="fase >= 41 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
        <div class="box">
            <div class="icon">
                <div class="iconBox">
                  Día 4
                </div>
            </div>
            <div class="content">
                <h3>Bosquejar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                <a (click)="entrar('bosquejar',(fase >= 41))">Entrar</a>
            </div>
            <div class="time">
              <div class="time-text">
                {{sumarHoras('dia4')}}
              </div>
            </div>
        </div>
    </div>
    
    <div [ngClass]="fase >= 46 ? 'card' : 'card-inactiva'"  style="--clr:#f1416c;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Día 5
              </div>
          </div>
          <div class="content">
              <h3>Decidir</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="entrar('decidir',(fase >= 46))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{sumarHoras('dia5')}}
            </div>
          </div>
      </div>
  </div>
  
  <div [ngClass]="fase >= 48 ? 'card' : 'card-inactiva'"  style="--clr:#fa4b28;">
    <div class="box">
        <div class="icon">
            <div class="iconBox">
              Día 6
            </div>
        </div>
        <div class="content">
            <h3>Día 6</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

            <a href="#">Entrar</a>
        </div>
        <div class="time">
          <div class="time-text">
            00:00
          </div>
        </div>
    </div>
</div>
  </div>

  <div class="container-new" *ngIf="etapa == 'entender'">
    <div [ngClass]="fase >= 1 ? 'card' : 'card-inactiva'" style="--clr:#a024ff;">
        <div class="box">
            <div class="icon">
                <div class="iconBox">
                   Paso 1
                </div>
            </div>
            <div class="content">
                <h3>Entender al experto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                <a (click)="ir('/fase1',(fase >= 1))">Entrar</a>
            </div>
            <div class="time">
              <div class="time-text">
                {{getTimePass('dia1_paso1')}}
              </div>
            </div>
        </div>
    </div>

    <div [ngClass]="fase >= 4 ? 'card' : 'card-inactiva'" style="--clr:#a024ff;">
        <div class="box">
            <div class="icon">
                <div class="iconBox">
                  Paso 2
                </div>
            </div>
            <div class="content">
                <h3>Metas a largo plazo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                <a (click)="ir('/fase4',(fase >= 4))">Entrar</a>
            </div>
            <div class="time">
              <div class="time-text">
                {{getTimePass('dia1_paso2')}}
              </div>
            </div>
        </div>
    </div>

    <div [ngClass]="fase >= 6 ? 'card' : 'card-inactiva'" style="--clr:#a024ff;">
        <div class="box">
            <div class="icon">
                <div class="iconBox">
                  Paso 3
                </div>
            </div>
            <div class="content">
                <h3>Preguntas del Sprint</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

                <a (click)="ir('/fase6',(fase >= 6))">Entrar</a>
            </div>
            <div class="time">
              <div class="time-text">
                {{getTimePass('dia1_paso3')}}
              </div>
            </div>
        </div>
    </div>
    
    <div [ngClass]="fase >= 8 ? 'card' : 'card-inactiva'" style="--clr:#a024ff;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 4
              </div>
          </div>
          <div class="content">
              <h3>Mapa de experiencia de Usuario</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase8',(fase >= 8))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia1_paso4')}}
            </div>
          </div>
      </div>
  </div>
</div>


<div class="container-new" *ngIf="etapa == 'enfoque'">
  <div [ngClass]="fase >= 9 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                 Paso 1
              </div>
          </div>
          <div class="content">
              <h3>Necesidades</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase9',(fase >= 9))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia2_paso1')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 13 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 2
              </div>
          </div>
          <div class="content">
              <h3>Propósito</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase13',(fase >= 13))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia2_paso2')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 15 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 3
              </div>
          </div>
          <div class="content">
              <h3>Objetivos</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase15',(fase >= 15))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia2_paso3')}}
            </div>
          </div>
      </div>
  </div>
  
  <div [ngClass]="fase >= 19 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
    <div class="box">
        <div class="icon">
            <div class="iconBox">
              Paso 4
            </div>
        </div>
        <div class="content">
            <h3>Acciones</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

            <a (click)="ir('/fase19',(fase >= 19))">Entrar</a>
        </div>
        <div class="time">
          <div class="time-text">
            {{getTimePass('dia2_paso4')}}
          </div>
        </div>
    </div>
</div>

  
<div [ngClass]="fase >= 21 ? 'card' : 'card-inactiva'" style="--clr:#fff81f;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 5
          </div>
      </div>
      <div class="content">
          <h3>Métricas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase21',(fase >= 21))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia2_paso5')}}
        </div>
      </div>
  </div>
</div>
</div>

<div class="container-new" *ngIf="etapa == 'modelo'">
  <div [ngClass]="fase >= 23 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                 Paso 1
              </div>
          </div>
          <div class="content">
              <h3>Segmento Clientes</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase23',(fase >= 23))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia3_paso1')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 25 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 2
              </div>
          </div>
          <div class="content">
              <h3>Problema</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase25',(fase >= 25))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia3_paso2')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 27 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 3
              </div>
          </div>
          <div class="content">
              <h3>Solución</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase27',(fase >= 27))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia3_paso3')}}
            </div>
          </div>
      </div>
  </div>
  
  <div [ngClass]="fase >= 29 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
    <div class="box">
        <div class="icon">
            <div class="iconBox">
              Paso 4
            </div>
        </div>
        <div class="content">
            <h3>Métricas Clave</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

            <a (click)="ir('/fase29',(fase >= 29))">Entrar</a>
        </div>
        <div class="time">
          <div class="time-text">
            {{getTimePass('dia3_paso4')}}
          </div>
        </div>
    </div>
</div>

  
<div [ngClass]="fase >= 31 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 5
          </div>
      </div>
      <div class="content">
          <h3>Propuesta de Valor</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase31',(fase >= 31))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia3_paso5')}}
        </div>
      </div>
  </div>
</div>
  
<div [ngClass]="fase >= 33 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 6
          </div>
      </div>
      <div class="content">
          <h3>Ventaja Especial</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase33',(fase >= 33))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia3_paso6')}}
        </div>
      </div>
  </div>
</div>
  
<div [ngClass]="fase >= 35 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 7
          </div>
      </div>
      <div class="content">
          <h3>Canales</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase35',(fase >= 35))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia3_paso7')}}
        </div>
      </div>
  </div>
</div>
  
<div [ngClass]="fase >= 37 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 8
          </div>
      </div>
      <div class="content">
          <h3>Estructura de Costos</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase37',(fase >= 37))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia3_paso8')}}
        </div>
      </div>
  </div>
</div>
  
<div [ngClass]="fase >= 39 ? 'card' : 'card-inactiva'" style="--clr:#21ffe9;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 9
          </div>
      </div>
      <div class="content">
          <h3>Flujo de Ingresos</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase39',(fase >= 39))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia3_paso9')}}
        </div>
      </div>
  </div>
</div>
</div>

<div class="container-new" *ngIf="etapa == 'bosquejar'">
  <div [ngClass]="fase >= 41 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                 Paso 1
              </div>
          </div>
          <div class="content">
              <h3>Demos Rápidas</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase41',(fase >= 41))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia4_paso1')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 42 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 2
              </div>
          </div>
          <div class="content">
              <h3>Ideación de 4 pasos <br>Notas de Repaso</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase42',(fase >= 42))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia4_paso2')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 43 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 3
              </div>
          </div>
          <div class="content">
              <h3>Ideación de 4 pasos <br>Generar ideas</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase43',(fase >= 43))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia4_paso3')}}
            </div>
          </div>
      </div>
  </div>
  
  <div [ngClass]="fase >= 44 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
    <div class="box">
        <div class="icon">
            <div class="iconBox">
              Paso 4
            </div>
        </div>
        <div class="content">
            <h3>Ideación de 4 pasos <br>Crazy 8's</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

            <a (click)="ir('/fase44',(fase >= 44))">Entrar</a>
        </div>
        <div class="time">
          <div class="time-text">
            {{getTimePass('dia4_paso4')}}
          </div>
        </div>
    </div>
</div>

<div [ngClass]="fase >= 45 ? 'card' : 'card-inactiva'" style="--clr:#009ef7;">
  <div class="box">
      <div class="icon">
          <div class="iconBox">
            Paso 5
          </div>
      </div>
      <div class="content">
          <h3>Ideación de 4 pasos <br>Bocetar la solución</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

          <a (click)="ir('/fase45',(fase >= 45))">Entrar</a>
      </div>
      <div class="time">
        <div class="time-text">
          {{getTimePass('dia4_paso5')}}
        </div>
      </div>
  </div>
</div>
</div>


<div class="container-new" *ngIf="etapa == 'decidir'">
  <div [ngClass]="fase >= 46 ? 'card' : 'card-inactiva'" style="--clr:#f1416c;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                 Paso 1
              </div>
          </div>
          <div class="content">
              <h3>Mapa de Calor</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase46',(fase >= 46))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia5_paso1')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 47 ? 'card' : 'card-inactiva'" style="--clr:#f1416c;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 2
              </div>
          </div>
          <div class="content">
              <h3>Presentación</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase47',(fase >= 47))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia5_paso2')}}
            </div>
          </div>
      </div>
  </div>

  <div [ngClass]="fase >= 48 ? 'card' : 'card-inactiva'" style="--clr:#f1416c;">
      <div class="box">
          <div class="icon">
              <div class="iconBox">
                Paso 3
              </div>
          </div>
          <div class="content">
              <h3>Decisión</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nostrum!</p>

              <a (click)="ir('/fase48',(fase >= 48))">Entrar</a>
          </div>
          <div class="time">
            <div class="time-text">
              {{getTimePass('dia5_paso3')}}
            </div>
          </div>
      </div>
  </div>
  
</div>
    <!--Fin nuevo diseño-->
  
  <!--<div class="container principal-container" *ngIf="etapa == 'principal'">
      <div [ngClass]="fase >= 1 ? 'categoria-principal' : 'categoria-inactiva'" (click)="entrar('entender',(fase >= 1))">
        Dia 1
        <label class="label-principal">Entender</label>
      </div>
      <div [ngClass]="fase >= 9 ? 'categoria-principal' : 'categoria-inactiva'" (click)="entrar('enfoque',(fase >= 9))">
        Dia 2
        <label class="label-principal">Enfoque solución</label>
      </div>
      <div [ngClass]="fase >= 23 ? 'categoria-principal' : 'categoria-inactiva'" (click)="entrar('modelo',(fase >= 23))">
        Dia 3
        <label class="label-principal">Modelo de Negocios</label>
      </div>
      <div [ngClass]="fase >= 41 ? 'categoria-principal' : 'categoria-inactiva'" (click)="entrar('bosquejar',(fase >= 41))">
        Dia 4
        <label class="label-principal">Bosquejar</label>
      </div>
      <div [ngClass]="fase >= 46 ? 'categoria-principal' : 'categoria-inactiva'" (click)="entrar('decidir',(fase >= 46))">
        Dia 5
        <label class="label-principal">Decidir</label>
      </div>
      <div [ngClass]="fase >= 48 ? 'categoria-principal' : 'categoria-inactiva'">
        Dia 6
        <label class="label-principal">Dia 6</label>
      </div>
  </div>-->

  <!--Inicio diseño viejo-->
  <!--
  <div class="container principal-container" *ngIf="etapa == 'entender'">
    <div class="button-principal" (click)="entrar('principal',true)">
      <label class="label-button-principal">Principal</label>
    </div>  
    <div [ngClass]="fase >= 1 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase1',(fase >= 1))">
        Entender - Paso 1
        <label class="label-principal">Entender al experto</label>
      </div>
      <div [ngClass]="fase >= 4 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase4',(fase >= 4))">
        Entender - Paso 2
        <label class="label-principal">Metas a largo plazo</label>
      </div>
      <div [ngClass]="fase >= 6 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase6',(fase >= 6))">
        Entender - Paso 3
        <label class="label-principal">Preguntas del Sprint</label>
      </div>
      <div [ngClass]="fase >= 8 ? 'categoria-mapa-principal' : 'categoria-mapa-inactiva'" (click)="ir('/fase8',(fase >= 8))">
        Entender - Paso 4
        <label class="label-mapa-principal">Mapa de Experiencia de Usuario</label>
      </div>
  </div>
  
  <div class="container principal-container" *ngIf="etapa == 'enfoque'">
      <div class="button-principal" (click)="entrar('principal',true)">
        <label class="label-button-principal">Principal</label>
      </div>  
      <div [ngClass]="fase >= 9 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase9',(fase >= 9))">
        Scope-Canvas - Paso 1
        <label class="label-principal">Necesidades</label>
      </div>
      <div [ngClass]="fase >= 13 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase13',(fase >= 13))">
        Scope-Canvas - Paso 2
        <label class="label-principal">Propósito</label>
      </div>
      <div [ngClass]="fase >= 15 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase15',(fase >= 15))">
        Scope-Canvas - Paso 3
        <label class="label-principal">Objetivos</label>
      </div>
      <div [ngClass]="fase >= 19 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase19',(fase >= 19))">
        Scope-Canvas - Paso 4
        <label class="label-principal">Acciones</label>
      </div>
      <div [ngClass]="fase >= 21 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase21',(fase >= 21))">
        Scope-Canvas - Paso 5
        <label class="label-principal">Métricas</label>
      </div>
  </div>
  
  <div class="container principal-container" *ngIf="etapa == 'modelo'">
      <div class="button-principal" (click)="entrar('principal',true)">
        <label class="label-button-principal">Principal</label>
      </div>
      <div [ngClass]="fase >= 23 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase23',(fase >= 23))">
        Lean-Canvas - Paso 1
        <label class="label-principal">Segmento Clientes</label>
      </div>
      <div [ngClass]="fase >= 25 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase25',(fase >= 25))">
        Lean-Canvas - Paso 2
        <label class="label-principal">Problema</label>
      </div>
      <div [ngClass]="fase >= 27 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase27',(fase >= 27))">
        Lean-Canvas - Paso 3
        <label class="label-principal">Solución</label>
      </div>
      <div [ngClass]="fase >= 29 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase29',(fase >= 29))">
        Lean-Canvas - Paso 4
        <label class="label-principal">Métricas Clave</label>
      </div>
      <div [ngClass]="fase >= 31 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase31',(fase >= 31))">
        Lean-Canvas - Paso 5
        <label class="label-principal">Propuesta de Valor</label>
      </div>
      <div [ngClass]="fase >= 33 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase33',(fase >= 33))">
        Lean-Canvas - Paso 6
        <label class="label-principal">Ventaja Especial</label>
      </div>
      <div [ngClass]="fase >= 35 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase35',(fase >= 35))">
        Lean-Canvas - Paso 7
        <label class="label-principal">Canales</label>
      </div>
      <div [ngClass]="fase >= 37 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase37',(fase >= 37))">
        Lean-Canvas - Paso 8
        <label class="label-principal">Estructura de Costos</label>
      </div>
      <div [ngClass]="fase >= 39 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase39',(fase >= 39))">
        Lean-Canvas - Paso 9
        <label class="label-principal">Flujo de Ingresos</label>
      </div>
  </div>

  <div class="container principal-container" *ngIf="etapa == 'bosquejar'">
      <div class="button-principal" (click)="entrar('principal',true)">
        <label class="label-button-principal">Principal</label>
      </div>
      <div [ngClass]="fase >= 41 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase41',(fase >= 41))">
        Bosquejar - Paso 1
        <label class="label-principal">Demos Rápidas</label>
      </div>
      <div [ngClass]="fase >= 42 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase42',(fase >= 42))">
        Bosquejar - Paso 2
        <label class="label-principal">Ideación de 4 pasos<br>Notas de Repaso</label>
      </div>
      <div [ngClass]="fase >= 43 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase43',(fase >= 43))">
        Bosquejar - Paso 3
        <label class="label-principal">Ideación de 4 pasos<br>Generar ideas</label>
      </div>
      <div [ngClass]="fase >= 44 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase44',(fase >= 44))">
        Bosquejar - Paso 4
        <label class="label-principal">Ideación de 4 pasos<br>Crazy 8's</label>
      </div>
      <div [ngClass]="fase >= 45 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase45',(fase >= 45))">
        Bosquejar - Paso 5
        <label class="label-principal">Ideación de 4 pasos<br>Bocetar la solución</label>
      </div>
  </div>

  <div class="container principal-container" *ngIf="etapa == 'decidir'">
    <div class="button-principal" (click)="entrar('principal',true)">
      <label class="label-button-principal">Principal</label>
    </div>
    <div [ngClass]="fase >= 46 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase46',(fase >= 46))">
      Decisión - Paso 1
      <label class="label-principal">Mapa de Calor</label>
    </div>
    <div [ngClass]="fase >= 47 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase47',(fase >= 47))">
      Decisión - Paso 2
      <label class="label-principal">Presentación</label>
    </div>
    <div [ngClass]="fase >= 48 ? 'categoria-principal' : 'categoria-inactiva'" (click)="ir('/fase48',(fase >= 48))">
      Decisión - Paso 3
      <label class="label-principal">Decisión</label>
    </div>
</div>-->
<!--Fin diseño viejo-->

  <!--end::Highlight-->

  <!-- Video -->
    <!-- Fondo Opaco   -->
    <div class="fondo-video" [ngClass]="showVideoFlag ? videoOn : videoOff">
    </div>
    <!-- Video Container -->
    <div class="video-container">
      <video controls id="myVideo" [ngClass]="showVideoFlag ? videoOn : videoOff" src="http://res.cloudinary.com/tresideambipi/video/upload/v1659722491/videos/video_test_clgg4o.mp4" width="1200" height="500px"></video>
      
      <h1 style="margin-top: 30px;color: #fff;" *ngIf="showVideoFlag">Proyecto: {{proyecto ? proyecto.nombre : ''}}</h1>
      
      <!--<a (click)="ir('/fase8',true)" style="color: #fff;">Entrar</a>-->

    </div>
      <!--begin::Bottom Toolbar-->
    <div style="background-color: #03A588;position: fixed; bottom: 0px;width: 100%; height: 80px;">
      <!--begin::Link-->
      <!-- PlayPause Bttn -->
      <div class="container" style="text-align: center;">
        <ng-container *ngIf="!playing; else elseBlock">
          <a (click)="onPlayPause()" class="btn btn-lg flex-shrink-0 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16" style="margin:-46px; margin-left: 10px;position: absolute;background-color:#03A588; border-radius: 100%; color:white">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            </svg>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a (click)="onPlayPause()" class="btn btn-lg flex-shrink-0 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16" style="margin:-46px;margin-left: 10px;position: absolute;background-color:#03A588; border-radius: 100%; color:white">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
            </svg>
          </a>
        </ng-template>
      </div>
      <div class="container" style="align-items: flex-start;" *ngIf="etapa != 'principal'">
        <a (click)="entrar('principal',true)" class="btn btn-danger" style="margin: -15px 10px 0px 10px;
        float: left;">Volver</a>
      </div>
      <div class="container" style="align-items: flex-end;">
        <a routerLink="/dashboard-project/{{proyecto_id}}" class="btn btn-danger" style="margin: -15px 10px 0px 10px;
        float: right;">Salir de MbipiLab</a>
      </div>
    </div>
      <!--end::Bottom Toolbar-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
  <span class="svg-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
      <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
    </svg>
  </span>
  <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
</div>
<!--end::Root-->
