.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: rgb(204, 202, 202);
    border-radius: 4px;
    overflow: hidden;
    display: block;
    padding: 50px;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgb(255, 201, 4);
    font-size: 14px;
    
    width:150px;
    height: 150px;
    cursor: pointer;
    overflow-wrap: break-word;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    margin: auto;
    margin-bottom: 20px;
  }
  
  .example-box:nth-child(even) {
      transform: rotate(0deg);
      }
  
  .example-box:nth-child(odd) {
  
      transform: rotate(0deg);
  
      }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .votos {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    width: 24px;
    height: 24px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
  }
  
  .voto-maximo {
    position: absolute;
    top: -10px;
    left: -12px;
    font-size: 28px;
    width: 32px !important;
    height: 32px !important;
    color: green;
  }
  
  .votar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    width: 60px;
    height: 25px;
    background-color: rgb(5, 184, 255);
    border: 1px solid rgb(5, 184, 255);
    border-radius: 10%;
  }
  
  .votar:hover{
    background-color: rgb(7, 81, 255);
  }
  
  
  .votar-maximo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    width: 60px;
    height: 25px;
    background-color: rgb(0, 199, 73);
    border: 1px solid rgb(0, 199, 73);
    border-radius: 10%;
  }
  
  .votar-maximo:hover{
    background-color: rgb(5, 114, 13);
  }
  
  .quitar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    width: 60px;
    height: 25px;
    background-color: rgb(253, 62, 78);
    border: 1px solid rgb(253, 62, 78);
    border-radius: 10%;
  }
  
  .quitar:hover{
    background-color: rgb(255, 7, 7);
  }
  
  .quitar-maximo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    width: 60px;
    height: 25px;
    background-color: rgb(253, 62, 78);
    border: 1px solid rgb(253, 62, 78);
    border-radius: 10%;
  }
  
  .quitar-maximo:hover{
    background-color: rgb(255, 7, 7);
  }

  canvas {
    position: absolute;
    /*background-color:#000;
    border: 2px solid green;*/
  }