<!--begin::Root-->
<!--<div class="d-flex flex-column flex-root" style="background-color: #070d15 !important;height: 100%;">-->
<div class="" style="background-color: #070d15 !important;overflow: hidden;height: 100%;">
  
  <!-- Seccion Loader-->  
  <app-loadmask [loader]="isLoading" *ngIf="isLoading"></app-loadmask>
  <!-- Fin Seccion Loader-->

  <!-- Seccion Header-->
  <app-header [usuarios_active]="usuarios_active" [titulo]="'Entender'" [paso]="'Paso 8 – Mapa de experiencia de usuario'" [dia]="'Día 1'" [ms]="ms" [sec]="sec" [min]="min" [hr]="hr" [showTimer]="showTimer"></app-header>
  <!-- Fin Seccion Header-->

  <!-- Titulo -->
  <!--<div class="container title-container">
    <h1>
      Mapa de Experiencia de Usuario
    </h1>
  </div>-->
  <!-- Instrucciones -->
  <!--<div class="container instructions-container">
    <app-mapa-accordion></app-mapa-accordion>
  </div>-->

  <!-- Tablero -->
  <div class="container tablero-container">
    <div class="draw-flow-poc">
      <div class="wrapper" style="padding-top: 0px !important; padding-left: 0px !important; margin-top: 0px !important;">
        <div style="text-align: center">
          <ng-container *ngFor="let node of nodes">
            <div
              class="drag-drawflow"
              draggable="true"
              (dragstart)="onDragStart($event)"
            >
              <!--{{ node.name }}-->Nuevo
              <div class="container" style="align-items:center;">
                <div class="draw-flow-palette">
                  <div class="box">
                    <!-- <textarea df-template></textarea> -->
                  </div>
                </div>
              </div>
              Arrastre para agregar
            </div>
            <!-- <div>
              <label>Inputs:</label>
              <input
                type="number"
                [(ngModel)]="node.inputs"
                min="0"
                style="width: 30px"
              />
              <label> Outputs:</label>
              <input
                type="number"
                [(ngModel)]="node.outputs"
                min="0"
                style="width: 30px"
              />
            </div>
            <hr /> -->    
          </ng-container>
        </div>
        <div class="col-right">
          <!-- <div
            class="btn-export"
            onclick="Swal.fire({ title: 'Export',
            html: '<pre><code>'+JSON.stringify(editor.export(), null,4)+'</code></pre>'
            })"
          >
            Export
          </div> -->
          <div
            id="drawflow"
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (dragend)="onDragEnd($event)"
            (drop)="onDrop($event)"
          >
            <!--<div class="btn-submit" (click)="onSubmit()">Enviar</div>
            <div class="btn-clear" (click)="onClear()">Limpiar</div>-->
            <div class="btn-lock">
              <button
                (click)="changeMode()"
                [ngStyle]="{ display: locked ? 'none' : 'block' }"
              >
                Bloquear
              </button>
              <button
                (click)="changeMode()"
                [ngStyle]="{ display: locked ? 'block' : 'none' }"
              >
                Desbloquear
              </button>
            </div>
            <div class="bar-zoom">
              <button (click)="onZoomOut()">-</button>
              <button (click)="onZoomReset()">Normal</button>
              <button (click)="onZoomIn()">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <!--Footer-->
  <app-footer-lab [dia]="'Dia 1'" [paso]="'Paso 8 – Mapa de experiencia de usuario'" [proyecto_id]="proyecto_id" [rol]="rol" [video_url]="video_url" [showVideo]="false" (activeNext)="saveNoteAll()" *ngIf="!isLoading"></app-footer-lab>
  <!--Fin Footer-->
  
  <!--begin::Scrolltop-->
  <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
    <span class="svg-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
        <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
      </svg>
    </span>
    <!--end::Svg Icon-->
  </div>
  <!--end::Scrolltop-->
</div>
<!--end::Root-->
