:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

.videoOn{
  display: inline;
}

.videoOff{
  display: none;
}

// #myVideo{
//   display: none;
// }
.dark-modal {
  background-color: #292b2c !important;
  color: white !important;
}
.dark-modal .close {
  color: white !important;
}
