.tablero-container{
  min-width: 100%;
  min-height: 520px;
  overflow: auto;
  background-color: #232323;
  position: relative;
  padding: 20px 20px 40px 20px;
  margin: 0;

  .toolbar{
    position:static !important;
  }
  a{
    svg{
      margin-top: -40px;
    }
  }
}

.instructions-container{
  width: 100%;
  text-align: start;
  padding: 10px;
  margin-bottom: 20px;
}

.title-container{
  width: 100%;
  text-align: start;
  padding: 10px;
  margin-bottom: 20px;

  h1{
    width: 1320px;
    text-align: start;
    color: white;
  }

}

:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

.app{
  width: 250px;
  float: left;
  margin-left: 10px;
}

.add{
  float: right;
  margin-left: auto;
  color: #fff;
  /* width: 39px; */
  cursor: pointer;
  background: #7f6c04;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 67px;
}

.dark-modal {
  background-color: #292b2c !important;
  color: white !important;
}
.dark-modal .close {
  color: white !important;
}
