<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  id="kt_login_signup_form"
  [formGroup]="registrationForm"
  (ngSubmit)="submit()"
>
  <!--begin::Heading-->
  <div class="mb-10 text-center">
    <h1 class="text-dark mb-3">Crear una cuenta</h1>
    <div class="text-gray-400 fw-bold fs-4">
      Ya tienes una cuenta?
      <a
        routerLink="/auth/login"
        class="link-primary fw-bolder"
        [style.cursor]="'pointer'"
        [style.margin-left]="'5px'"
        >Inicia Sesión</a
      >
    </div>
  </div>
  <!--end::Heading-->

  <!--<button type="button" class="btn btn-light-primary fw-bolder w-100 mb-10">
    <img
      alt="Logo"
      src="./assets/media/svg/brand-logos/google-icon.svg"
      class="h-20px me-3"
    />Sign in with Google
  </button>

  <div class="d-flex align-items-center mb-10">
    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
    <span class="fw-bold text-gray-400 fs-7 mx-2">OR</span>
    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
  </div>-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Los detalles de registro son incorrectos
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-7">
    <label class="form-label fw-bolder text-dark fs-6">Nombre</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="text"
      name="nombre"
      formControlName="nombre"
      placeholder="Nombre"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': registrationForm.controls['nombre'].invalid,
        'is-valid': registrationForm.controls['nombre'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Nombre es requerido',
        control: registrationForm.controls['nombre']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Nombre debe tener al menos 3 simbolos',
        control: registrationForm.controls['nombre']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Nombre solo puede tener maximo 100 simbolos',
        control: registrationForm.controls['nombre']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-7">
    <label class="form-label fw-bolder text-dark fs-6">Correo Electrónico</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="email"
      placeholder="Correo Electrónico"
      name="email"
      formControlName="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': registrationForm.controls['email'].invalid,
        'is-valid': registrationForm.controls['email'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Correo es requerido',
        control: registrationForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Correo es invalido',
        control: registrationForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Correo debe tener al menos 3 simbolos',
        control: registrationForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Correo debe tener como maximo 360 simbolos',
        control: registrationForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="mb-10 fv-row" id="kt-div-login"><!--data-kt-password-meter="true"-->
    <label class="form-label fw-bolder text-dark fs-6">Contraseña</label>
    <input
    #password
      class="form-control form-control-lg form-control-solid"
      type="password"
      placeholder="Contraseña"
      name="password"
      formControlName="password"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }"
    />
    <ngx-password-strength-meter [password]="password.value"></ngx-password-strength-meter>
    <!--<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
      <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
      <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
      <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
      <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
    </div>-->
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Contraseña es requerida',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Contraseña debe tener al menos 3 simbolos',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Contraseña debe tener como maximo 100 simbolos',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-5">
    <label class="form-label fw-bolder text-dark fs-6">Confirmar Contraseña</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      placeholder="Confirmar contraseña"
      name="cPassword"
      autocomplete="off"
      formControlName="cPassword"
      [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Confirmar Contraseña es requerida',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Confirmar Contraseña debe tener al menos 3 simbolos',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Confirmar Contraseña debe tener como maximo 100 simbolos',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      *ngIf="
        registrationForm.controls['cPassword'].errors &&
        registrationForm.controls['cPassword'].errors.ConfirmPassword
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          Las Contraseñas no coinciden.
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="form-check form-check-custom form-check-solid">
      <input
        id="kt_login_toc_agree"
        type="checkbox"
        formControlName="agree"
        name="agree"
        class="form-check-input"
      />

      <label
        for="kt_login_toc_agree"
        class="form-check-label fw-bold text-gray-700 fs-6"
      >
        Yo acepto los <a
          href="https://keenthemes.com/metronic/?page=faq"
          target="_blank"
          class="ms-1 link-primary"
          >terminos y condiciones</a
        >.
      </label>
    </div>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="text-center">
    <button
      type="submit"
      id="kt_sign_up_submit"
      [disabled]="
        registrationForm.invalid || !registrationForm.controls['agree'].value
      "
      class="btn btn-lg btn-primary w-100 mb-5"
    >
      <ng-container><!--*ngIf="(isLoading$ | async) === false"-->
        <span class="indicator-label">Enviar</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Por favor espere...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      type="button"
      id="kt_login_signup_form_cancel_button"
      class="btn btn-lg btn-light-primary w-100 mb-5"
    >
      Cancelar
    </a>
  </div>
  <!--end::Form group-->
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
