
  <!-- Video -->
    <!-- Fondo Opaco   -->
    <div class="fondo-video" [ngClass]="showVideoFlag ? videoOn : videoOff">
    </div>
    <!-- Video Container -->
    <div class="video-container">
      <video controls id="myVideo" [ngClass]="showVideoFlag ? videoOn : videoOff" [src]="video_url" width="1200" height="500px"></video>
      <h1 style="margin-top: 30px;color: #fff;" *ngIf="showVideoFlag">{{dia}} – {{paso}}</h1>
    </div>
      <!--begin::Bottom Toolbar-->
    <div style="background-color: #03A588;position: fixed; bottom: 0px;width: 100%; height: 80px;">
      <!--begin::Link-->
      <!-- PlayPause Bttn -->
-    <ng-container *ngIf="showVideo; else hideContainerVideo">
      <div class="container" style="text-align: center;">
        <ng-container *ngIf="!playing; else elseBlock">
          <a (click)="onPlayPause()" class="btn btn-lg flex-shrink-0 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16" style="margin:-46px; margin-left: 10px;position: absolute;background-color:#03A588; border-radius: 100%; color:white">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            </svg>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a (click)="onPlayPause()" class="btn btn-lg flex-shrink-0 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16" style="margin:-46px;margin-left: 10px;position: absolute;background-color:#03A588; border-radius: 100%; color:white">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
            </svg>
          </a>
        </ng-template>
      </div>
      </ng-container>
      
      <ng-template #hideContainerVideo>
      <div class="container" style="text-align: center;margin-bottom: 30px;">
      </div>
      </ng-template>
      
      <div class="container" style="align-items: flex-start;">
        <a (click)="volver()" class="btn btn-danger" style="margin: -15px 10px 0px 10px;
        float: left;">Volver</a>
      </div>
  
      <div class="container" style="align-items: flex-end;">
        <a (click)="siguiente()" class="btn btn-success" style="margin: -15px 10px 0px 10px;
        float: right;" *ngIf="rol == 'Decisor'">Siguiente Etapa</a>
        <a routerLink="/dashboard-project/{{proyecto_id}}" class="btn btn-danger" style="margin: -15px 10px 0px 10px;
        float: right;">Salir de MbipiLab</a>
      </div>
  
      <!-- <a (click)="onPause()" class="btn btn-lg btn-outline-white flex-shrink-0 my-2" style="text-align: center;margin: auto;background: transparent !important;">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
        </svg>
      </a> -->
      <!-- <button (click)="displayVideo()" type="button" class="btn btn-primary">
        Muestra Video
      </button>
      <button (click)="hideVideo()" type="button" class="btn btn-secondary">
        Esconde Video
      </button> -->
      <!-- <button (click)=" videoCurrentTime()" type="button" class="btn btn-success">
        Current Time
      </button> -->
      <!--end::Link-->
    </div>
      <!--end::Bottom Toolbar-->